<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.ucla.cens.whatsnoisy"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".whatsnoisy"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings">
        	<intent-filter>
        		<category android:name="android.intent.category.PREFERENCE" />
        	</intent-filter>
        </activity>
        <activity android:name=".Record"></activity>
        <activity android:name=".RecordMetaData"></activity>

		
		<service android:name="edu.ucla.cens.whatsnoisy.services.SampleUpload"></service>
		<service android:name="edu.ucla.cens.whatsnoisy.services.LocationTrace"></service>
		<service android:name="edu.ucla.cens.whatsnoisy.services.LocationService"></service>
		<service android:name="edu.ucla.cens.whatsnoisy.services.LocationUpload"></service>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
   	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
	<uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.ah" />
</manifest> 